.no{
 text-align: center;
 padding: 40px;
 font-weight: 200;
}
.emptable{
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 12px;
    
}
.emptable th,.emptable td{
    border:1px solid grey;
    padding: 12px;
    text-align: center;
}
.ics{
    display: flex;
    justify-content: center;
    gap: 12px;
}